body {
  margin: 3rem auto 5rem;
  max-width: 650px;
  padding: 0 1rem;
  background: rgba(222, 184, 135, 0.918);
}

h1 {
  text-align: center;
  font-family: cursive;
  font-weight: 500;
  font-size: 3rem;
  color: #222;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 15px;
  height: auto;
  margin: 3rem 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 3rem;
  color: #111;
}

p {
  padding-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #333;
}

ul,
ol {
  margin: 0;
  padding-left: 2rem;
}

li {
  margin-bottom: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  line-height: 1.4;
}

a {
  position: fixed;
  top: 10px;
  left: 10px;
  text-decoration: none;
  color: #f4f4f4;
  background-color: steelblue;
  border-radius: 5px;
  padding: 3px 8px;
}

a:hover {
  background: #f4f4f4;
  color: steelblue;
}

/************************* Media Queries *********************************/
@media (max-width: 600px) {
  h1 {
    font-size: 2.6rem;
  }
}
